@page "/"

<h1>剪刀 石頭 布</h1>

<button class="btn btn-info">在玩一次</button>

<div style="display:flex;justify-content:center;margin-bottom:20px">
    <img src="~/rock.jpg" class="image" />
</div>


<div style="display:flex;justify-content:space-around;">
    <img src="~/paper.jpg" class="image selectable-image" />
    <img src="~/rock.jpg" class="image selectable-image" />
    <img src="~/scissors.jpg" class="image selectable-image" />
</div>